<%= render "shared/menu"%>

<table class="tiny-table" style="width: 100%;">
  <thead>
    <tr>
      <th>Created</th>
      <th>To</th>
      <th>From</th>
      <th>Subject</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @mails.each do |mail| %>
      <tr>
        <td><%= mail.created_at %></td>
        <td><%= mail.to %></td>
        <td><%= mail.from %></td>
        <td><%= mail.subject %></td>
        <td><%= link_to 'Show', mail %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @mails %>
