<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @account.email %>
</p>

<table class="tiny-table" style="width: 100%;">
  <thead>
    <tr>
      <th>Id</th>
      <th>From</th>
      <th>Subject</th>
      <th>Created</th>
      <th>Body</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @mails.each do |mail| %>
      <tr>
        <td><%= mail.id %></td>
        <td><%= mail.from %></td>
        <td><%= mail.subject %></td>
        <td><%= mail.created_at.to_date %></td>
        <td><%= mail.text_part.nil? ? "" : "#{mail.text_part.first(100)} ..." %></td>
        <td><%= link_to 'Show', mail %></td>
      </tr>
    <% end %>
  </tbody>
</table>
